* {
    font-family: Arial, serif;
    line-height: 1.5em;
}

h1 {
    font-family: "Lucida Sans Unicode", sans-serif;
    background-color: rgb(221, 221, 221);
    padding-left: 10px;
    font-weight: normal;
    margin-bottom: 0;
}


a, input[type=submit] {
    color: rgb(44, 44, 44);
    text-decoration: underline;
    font-size: 16px;
    background: none;
    border: 0 none;
}

#content, #footer {
    width: 960px;
    margin: 0 auto;
    padding: 10px;
}

.error {
    font-weight: bold;
    color: red;
}

#task-list {
    font-size: 16px;
    width: 100%;
    border-bottom: 1px solid rgb(221, 221, 221);
}

#task-list td {
    padding: 0 10px;
}

#task-list td:not(:first-child) {
    width: 70px;
    max-width: 70px;
}

#task-list tr:nth-child(2n+1) {
    background-color: rgb(245, 245, 245);
}

th, td {
    text-align: left;
}

#footer {
    color: rgb(204, 204, 204);
    font-size: 12px;
    text-align: right;
}